extends layout

block content
  form(method='POST' action='/new')
    h1 Add new message

    label(for='name') Name: 
    input#input-name(type='text', placeholder='Your name '  name='name' required)
    label(for='message') Message: 
    input#input-message(type='text', placeholder='Your message '  name='message' required)
    button(type='submit') POST

  a(href='/') Go Back

