body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
ul{
  list-style: none;
}
#message-container {
  margin: 10px 10px 10px 0;
  border-bottom: 1px solid black;
}
#name{
  color: #00B7FF;
  font-weight: bold;
  font-size:15px;
}
#message{
  margin: 5px 5px 5px 0;
}
#input-name{
  margin: 5px;
}
#input-message{
  margin: 5px;

}
#add-message-button{
  color: #00B7FF;
  font-size: 14px;
  font-weight: 500;
  margin:15px 0 0 40px;
  border-radius: 5px;
}